.button {
    -fx-background-radius: 12px;
    -fx-background-color: #FFFFFF;
    -fx-pref-width: 72px;
    -fx-pref-height: 36px;
    -fx-font-family: Consolas;
    -fx-font-size: 16px;
    -fx-text-fill: #334C80;
    -fx-cursor: hand;
    }