.button {
    -fx-font-family: "Consolas";
    -fx-font-weight: bold;
    -fx-background-radius: 6px;
    -fx-background-color: #FFFFFF;
    -fx-pref-width: 100px;
    -fx-pref-height: 50px;
    -fx-font-size: 24px;
    -fx-text-fill: #6699FF;
    -fx-cursor: hand;
}

.button-icon {
    -fx-pref-width: 95px;
    -fx-pref-height: 50px;
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 6px;
    -fx-cursor: hand;
}

.button-text {
    -fx-font-family: "Trebuchet MS";
    -fx-font-weight: normal;
    -fx-pref-height: 36px;
    -fx-pref-width: 184px;
    -fx-background-color: #FFFFFF;
    -fx-background-radius: 12px;
    -fx-cursor: hand;
}

.button-text:hover {
    -fx-background-color: #E0E0FF;
}

.button-icon:hover {
    -fx-background-color: #E0E0FF;
}

.button:hover {
    -fx-background-color: #E0E0FF;
}
