.text-field {
    -fx-background-color: #FFFFFF;
    -fx-text-fill: #334C80;
    -fx-pref-width: 258px;
    -fx-pref-height: 36px;
    -fx-background-radius: 6px;
    -fx-font-family: "Trebuchet MS";
    -fx-font-size: 14px;
}

.text-area {
    -fx-background-color: #FFFFFF;
    -fx-pref-width: 480px;
    -fx-pref-height: 144px;
    -fx-background-radius: 6px;
    -fx-font-family: "Trebuchet MS";
    -fx-font-size: 24px;
}

.big-text-field {
    -fx-background-color: #FFFFFF;
    -fx-pref-width: 925px;
    -fx-pref-height: 36px;
    -fx-background-radius: 6px;
    -fx-font-family: "Trebuchet MS";
    -fx-font-size: 24px;
}

.text-field:hover {
    -fx-background-color: #F0F0FF;
}

.text-area:hover {
    -fx-background-color: #F0F0FF;
}

.big-text-field:hover {
    -fx-background-color: #F0F0FF;
}
